<div class="col-lg">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">新建融资</h3>
      </div>

      <!--Block Styled Form -->
      <!--===================================================-->
      <form>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">业务编号</label>
                <input type="text" class="form-control" value="53458" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">税务登记证号</label>
                <input type="text" class="form-control" value="440300584063792" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">企业名称</label>
                <input type="text" class="form-control" value="第一集团" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">企业地址</label>
                <input type="text" class="form-control" value="北京市东城区安定门西滨河路22号" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">企业法人</label>
                <input type="text" class="form-control" value="江涛" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">联系方式（微信号/手机号）</label>
                <input type="text" class="form-control" value="13100000000" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">登记日期</label>
                <input type="text" class="form-control" value="2016-06-01" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">退税总额</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">退税账号</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">企业账号</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>

      </form>
      <!--===================================================-->
      <!--End Block Styled Form -->

    </div>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">退税信息</h3>
      </div>

      <!-- Striped Table -->
      <!--===================================================-->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th>退税申请日期</th>
              <th>退税编号</th>
              <th>税务登记证号</th>
              <th>退税金额</th>
              <th>退税账号</th>
              <th>退税申请资料</th>
              <th>预审核通知书</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="bs-checkbox " style="width: 36px; ">
                <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                <div class="fht-cell"></div>
              </td>
              <td>2016-07-08</td>
              <td>2106909090</td>
              <td>440300584063792</td>
              <td>￥1,003,024.98</td>
              <td>8888-8888-8888-8888</td>
              <td><a href="#" class="btn-link">点击查看</a></td>
              <td><a href="#" class="btn-link">点击查看</a></td>
            </tr>
            <tr>
              <td class="bs-checkbox " style="width: 36px; ">
                <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                <div class="fht-cell"></div>
              </td>
              <td>2016-08-08</td>
              <td>2106919003</td>
              <td>440300584063792</td>
              <td>￥3,000,122.08</td>
              <td>8888-8888-8888-8888</td>
              <td><a href="#" class="btn-link">点击查看</a></td>
              <td><a href="#" class="btn-link">点击查看</a></td>
            </tr>
            <tr>
              <td class="bs-checkbox " style="width: 36px; ">
                <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                <div class="fht-cell"></div>
              </td>
              <td>2016-08-16</td>
              <td>2107219032</td>
              <td>440300584063792</td>
              <td>￥30,000,000.00</td>
              <td>8888-8888-8888-8888</td>
              <td><a href="#" class="btn-link">点击查看</a></td>
              <td><a href="#" class="btn-link">点击查看</a></td>
            </tr>
            <tr>
              <td class="bs-checkbox " style="width: 36px; ">
                <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                <div class="fht-cell"></div>
              </td>
              <td>2016-09-13</td>
              <td>2108003123</td>
              <td>440300584063792</td>
              <td>￥10,002,100.31</td>
              <td>8888-8888-8888-8888</td>
              <td><a href="#" class="btn-link">点击查看</a></td>
              <td><a href="#" class="btn-link">点击查看</a></td>
            </tr>
            <tr>
              <td class="bs-checkbox " style="width: 36px; ">
                <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                <div class="fht-cell"></div>
              </td>
              <td>2016-09-18</td>
              <td>2108812314</td>
              <td>440300584063792</td>
              <td>￥22,202,010.00</td>
              <td>8888-8888-8888-8888</td>
              <td><a href="#" class="btn-link">点击查看</a></td>
              <td><a href="#" class="btn-link">点击查看</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--===================================================-->
      <!-- End Striped Table -->

      <div class="panel-footer text-right">
        <a href="/enterprise/request_list" ><button class="btn btn-info" type="submit">提交</button></a>
      </div>
    </div>
  </div>
</div>
