<div class="col-lg">
  <div class="col-sm-12">
    <div class="panel">

      <!-- Circular Form Wizard -->
      <!--===================================================-->
      <div id="demo-cir-wz">
        <div class="wz-heading">

          <!--Progress bar-->
          <div class="progress progress-sm progress-light-base">
            <div class="progress-bar progress-bar-primary" style="width: 0%; margin: 0px 12.5%;"></div>
          </div>

          <!--Nav-->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <ul class="wz-nav-off  wz-steps">
            <li class="col-xs-2 active">
              <a title="" class="add-tooltip" data-original-title="发起融资" aria-expanded="false">
                <span class="icon-wrap icon-wrap-sm icon-circle bg-info">
														<span class="wz-icon fa fa-2x wz-icon icon-txt text-bold">1</span>
														<i class="wz-icon-done fa fa-check fa-2x"></i>
													</span>
              </a>
            </li>
            <li class="col-xs-2">
              <a title="" class="add-tooltip" data-original-title="融资买入" aria-expanded="false">
													<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
														<span class="wz-icon fa fa-2x wz-icon icon-txt text-bold">2</span>
														<i class="wz-icon-done fa fa-check fa-2x"></i>
													</span>
              </a>
            </li>
            <li class="col-xs-2">
              <a title="" class="add-tooltip" data-original-title="融资确认" aria-expanded="false">
													<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
														<span class="wz-icon fa fa-2x wz-icon icon-txt text-bold">3</span>
														<i class="wz-icon-done fa fa-check fa-2x"></i>
													</span>
              </a>
            </li>
            <li class="col-xs-2">
              <a title="" class="add-tooltip" data-original-title="融资发放" aria-expanded="false">
													<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
														<span class="wz-icon fa fa-2x wz-icon icon-txt text-bold">4</span>
														<i class="wz-icon-done fa fa-check fa-2x"></i>
													</span>
              </a>
            </li>
            <li class="col-xs-2">
              <a title="" class="add-tooltip" data-original-title="融资归还" aria-expanded="false">
													<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
														<span class="wz-icon fa fa-2x wz-icon icon-txt text-bold">5</span>
														<i class="wz-icon-done fa fa-check fa-2x"></i>
													</span>
              </a>
            </li>
            <li class="col-xs-2">
              <a title="" class="add-tooltip" data-original-title="归还确认" aria-expanded="false">
													<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
														<span class="wz-icon fa fa-2x wz-icon icon-txt text-bold">6</span>
														<i class="wz-icon-done fa fa-check fa-2x"></i>
													</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!--===================================================-->
      <!-- End Circular Form Wizard -->

    </div>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">融资信息</h3>
      </div>

      <!--Block Styled Form -->
      <!--===================================================-->
      <form>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">业务编号</label>
                <input type="text" class="form-control" value="53458" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">税务登记证号</label>
                <input type="text" class="form-control" value="440300584063792" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">企业名称</label>
                <input type="text" class="form-control" value="第一集团" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">企业地址</label>
                <input type="text" class="form-control" value="北京市东城区安定门西滨河路22号" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">企业法人</label>
                <input type="text" class="form-control" value="江涛" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">联系方式（微信号/手机号）</label>
                <input type="text" class="form-control" value="13100000000" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">登记日期</label>
                <input type="text" class="form-control" value="2016-06-01" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">退税总额</label>
                <input type="text" class="form-control" value="￥400,200,132.45" disabled>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">退税账号</label>
                <input type="text" class="form-control" value="8888-8888-8888-8888" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">企业账号</label>
                <input type="text" class="form-control" value="2106909090" disabled>
              </div>
            </div>
          </div>
        </div>

      </form>
      <!--===================================================-->
      <!--End Block Styled Form -->

    </div>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">退税信息</h3>
      </div>

      <!-- Striped Table -->
      <!--===================================================-->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>退税申请日期</th>
              <th>退税编号</th>
              <th>税务登记证号</th>
              <th>退税金额</th>
              <th>退税账号</th>
              <th>退税申请资料</th>
              <th>预审核通知书</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2016-07-08</td>
              <td>2106909090</td>
              <td>440300584063792</td>
              <td>￥1,003,024.98</td>
              <td>8888-8888-8888-8888</td>
              <td><a href="#" class="btn-link">点击查看</a></td>
              <td><a href="#" class="btn-link">点击查看</a></td>
            </tr>
            <tr>
              <td>2016-08-16</td>
              <td>2107219032</td>
              <td>440300584063792</td>
              <td>￥30,000,000.00</td>
              <td>8888-8888-8888-8888</td>
              <td><a href="#" class="btn-link">点击查看</a></td>
              <td><a href="#" class="btn-link">点击查看</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--===================================================-->
      <!-- End Striped Table -->

      <div class="panel-footer text-right">
        <a href="/enterprise/request_list">
          <button class="btn btn-info" type="submit">返回</button>
        </a>
      </div>
    </div>
  </div>
</div>
