# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3e6b92ce19cde90d0dc2d289bbbd2081304f0e7e199e0905c973a3486f9ba966466ae8d5e47a59b11fab31e9e365669ac5d56db95fa5ec8944ab8a1ba4213709

test:
  secret_key_base: 6fcfef5c0bef67dbd0bc1ef534140a25b332ca5a2a40e287ec7c433d0d876d4467afb215d118573a42bbbbbd266de08c9e789918dc9554515417857ec7b7025f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
